body {
  font-family: 'Poppins Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-dark-text-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.select {
  color: var(--brand-color);
}

.section__title {
  font-family: 'Cal Sans';
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2;
  text-align: center;
}

.logo {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: var(--title-dark-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1230px;
}

:root {
  --brand-color: #FF6428;
  --title-dark-text-color: #121212;
  --secondary-dark-text-color: rgba(18, 18, 18, 0.4);
  --title-ligth-text-color: #ffffff;
  --dark-text-color: #666666;
}

@font-face {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/CalSans-SemiBold.woff2) format("woff2"), url(/fonts/CalSans-SemiBold.woff) format("woff");
}

.header {
  position: relative;
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: transparent;
  z-index: 10;
}

.header__logo {
  margin-right: 131px;
}

.header__logo-icon {
  fill: var(--brand-color);
  margin-right: 12px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-dark-text-color);
}

.header__nav-item:not(:last-child) {
  margin-right: 56px;
}

.hero {
  padding-top: 82px;
  padding-bottom: 140px;
}

.hero__container {
  position: relative;
}

.hero__text-content {
  max-width: 469px;
  position: relative;
  z-index: 10;
}

.hero__title {
  font-family: 'Cal Sans';
  font-weight: 600;
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero__title-select {
  color: var(--brand-color);
}

.hero__text {
  font-weight: 500;
  color: var(--dark-text-color);
  margin-bottom: 33px;
}

.hero__stor-link {
  min-width: 192px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  font-weight: 600;
  padding: 0 48px;
  color: var(--title-ligth-text-color);
  background-color: var(--brand-color);
  border-radius: 27px;
  margin-right: 40px;
}

.hero__btn {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
}

.hero__btn-icon {
  fill: #B2B2B2;
  display: flex;
  align-items: center;
}

.hero__btn-icon:not(:last-child) {
  margin-right: 28px;
}

.hero__decor-container {
  position: absolute;
  right: -120px;
  top: -235px;
  z-index: 1;
}

.hero__decor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -40px;
  right: 244px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--title-ligth-text-color);
}

.hero__decor-icon {
  fill: var(--brand-color);
}

.store {
  margin-bottom: 180px;
}

.store__title {
  margin-bottom: 86px;
}

.store__new {
  margin-bottom: 96px;
}

.store__subtitle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.store__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

.store__view {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #868686;
}

.store__list {
  display: flex;
}

.store__card {
  min-width: calc((100% - 108px) / 3);
  line-height: 1.5;
}

.store__card:not(:last-child) {
  margin-right: 54px;
}

.card__name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 7px;
}

.card__price {
  font-size: 14px;
  color: var(--dark-text-color);
}

.categories {
  margin-top: 90px;
  margin-bottom: 110px;
}

.categories__title {
  margin-bottom: 80px;
}

.categories__list {
  display: flex;
  justify-content: center;
}

.categories__item {
  max-width: calc((100% - 210px) / 4);
}

.categories__item:not(:last-child) {
  margin-right: 70px;
}

.brands {
  padding-top: 110px;
  padding-bottom: 180px;
}

.brands__title {
  margin-bottom: 75px;
}

.brands__list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.brands__item:not(:last-child) {
  margin-right: 160px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--title-dark-text-color);
}

.benefits__title {
  color: var(--title-ligth-text-color);
  margin-bottom: 75px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits__item {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits__icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: #262626;
}

.benefits__icon {
  fill: #A4A4A4;
}

.benefits__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--title-ligth-text-color);
  margin-bottom: 12px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--dark-text-color);
}

.customer {
  padding-top: 240px;
}

.customer__title {
  margin-bottom: 110px;
}

.customer__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.customer__img-wrapper {
  position: relative;
  height: 341px;
  flex: 0 0 407px;
  background-image: url(./images/customers-sec/customer-bg.png);
  background-position: left 0 center;
  background-repeat: no-repeat;
  margin-right: 146px;
}

.customer__img {
  position: absolute;
  top: 0;
  right: 0;
}

.customer__text-wrapper {
  width: 524px;
}

.customer__text {
  font-size: 24px;
  line-height: 1.6;
  color: var(--dark-text-color);
  margin-bottom: 56px;
}

.customer__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  color: var(#000000);
  margin-bottom: 8px;
}

.customer .customer__position {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: #868686;
}

.app {
  padding-top: 120px;
  padding-bottom: 120px;
}

.app__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__left {
  width: 484px;
}

.app__title {
  text-align: start;
  margin-bottom: 60px;
  line-height: 1.4;
}

.app__list {
  display: flex;
  gap: 26px;
}

.app__item {
  height: 57px;
}

.app__right {
  position: relative;
  width: 568px;
  height: 533px;
  background-image: url(./images/customers-sec/app-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.app__img-left {
  position: absolute;
  top: -76px;
  left: -29px;
}

.app__img-right {
  position: absolute;
  bottom: -84px;
  right: -29px;
}

.footer {
  padding-top: 80px;
  padding-bottom: 43px;
  background-color: #EEEEEE;
}

.footer__logo {
  margin-bottom: 28px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__bottom {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(18, 18, 18, 0.6);
}

.footer__contact-icon {
  margin-right: 20px;
  fill: var(--dark-text-color);
}

.footer__contact-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.6;
  color: var(--dark-text-color);
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__contact-item:hover, .footer__contact-item:focus {
  text-decoration: underline;
}

.about__footer {
  display: flex;
}

.about__page {
  margin-right: 126px;
}

.about__product {
  margin-right: 160px;
}

.about__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-bottom: 20px;
}

.about__list:not(:last-child) {
  margin-bottom: 16px;
}

.about__link {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(18, 18, 18, 0.6);
}

.about__link:hover, .about__link:focus {
  text-decoration: underline;
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}

.social__icon {
  fill: var(--title-dark-text-color);
  opacity: 0.6;
}

.social__icon:hover, .social__icon:focus {
  fill: var(--brand-color);
}
/*# sourceMappingURL=main.css.map */