.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 62px;
    padding-bottom: 62px;
    background-color: transparent;
    z-index: 10;

    &__logo {
        margin-right: 131px;

        &-icon {
            fill: var(--brand-color);
            margin-right: 12px;
        }
    }

    &__container{
        display: flex;
        align-items: center;    }
 
    // &__nav {
    //     display: flex;
    // }

    &__nav-list {
        display: flex;
    }

    &__nav-item {
        &:not(:last-child){
            margin-right: 56px;
        }
    }
    &__nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--secondary-dark-text-color);
        &:hover,
        &:focus{
            text-decoration: underline;
        }
    }
}