body {
    font-family: 'Poppins Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--title-dark-text-color);
    //     letter-spacing: 0.03em;
    //     font-size: 14px;
    //     background-color: var(--lite-text-one);
}


a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.select {
    color: var(--brand-color);
}

.section__title {
    font-family: 'Cal Sans';
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    text-align: center;
}

.logo {
    font-family: 'Cal Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: var(--title-dark-text-color);
}