:root{
    --brand-color: #FF6428;
    --title-dark-text-color: #121212;
    --secondary-dark-text-color: rgba(18, 18, 18, 0.4);
    --title-ligth-text-color: #ffffff;
    --dark-text-color: #666666;

}